#beach-days {
    text-align:center;
}
#beach-days-1 {
    text-align:center;
    background-color:#CAE7B9;
    color:black;
    padding:24px;
}
#beach-days-2 {
    text-align:center;
    background-color:#F3DE8A;
    color:black;
    padding:24px;
}
#beach-days-3 {
    text-align:center;
    background-color:#EB9486;
    color:black;
    padding:24px;
}